@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}

/*#errorPassword, #errorName, #errorPhone {
    display: none;
}*/

.errorMessage {
    display: none;
    color: red;
    padding-left: 30px;
}
/*
.name {
    border: 4px solid red;
}
*/
/*
input:invalid {
    box-shadow: 0 0 5px 1px red;
  }*/